<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form action="/balloons/add" method="POST">
          <input id="id" type="hidden" name="id" th:value="(${balloon} != null ? ${balloon.getId()} : '')">
          <div class="form-group">
            <label for="name">Balloon name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:value="(${balloon} != null ? ${balloon.getName()} : '')"
                   required
                   placeholder="Enter product name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   name="description"
                   th:value="(${balloon} != null ? ${balloon.getDescription()} : '')"
                   placeholder="Description">
          </div>
          <div class="form-group">
            <label>Manufacturer</label>
            <select name="manufacturer" class="form-control">
              <option th:if="${balloon} != null"
                      th:selected="${balloon.getManufacturer() != null && balloon.getManufacturer().getId() == man.getId()}"
                      th:each="man : ${manufacturers}"
                      th:value="${man.getId()}"
                      th:text="${man.getName()}">
              </option>
              <option th:if="${balloon} == null"
                      th:each="man : ${manufacturers}"
                      th:value="${man.getId()}"
                      th:text="${man.getName()}">
              </option>
            </select>
          </div>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-primary" href="/balloons">Back</a>
        </form>
      </div>
    </div>
  </div>


</th:block>
</html>