<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>WP lab - Delivery Info</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
    table {
      width: 100%;
    }

    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }

    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }

    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Balloon Order page - Delivery information </h1>
</header>
<section>

  <form th:action="@{/orderBalloon}" th:method="POST">

  <label for="clientName">Client Name:</label><br/>
    <input type="text" id="clientName" name="clientName"/><br/>
    <label for="clientAddress">Delivery Address:</label><br/>
    <textarea cols="40" rows="3" id="clientAddress" name="clientAddress"></textarea><br/>
    <br>
    <input type='submit'  value='Submit'/>

  </form>

</section>
<aside>
  <table>
    <tr>
      <th colspan="2">
        Your Order Status
      </th>
    </tr>

    <tr>
      <td><b>Balloon Color </b></td>
      <td><th:block th:text="${balloonColorSelected}"></th:block></td>
    </tr>
    <tr>
      <td><b>Balloon Size </b></td>
      <td><th:block th:text="${balloonSizeSelected}"></th:block></td>
    </tr>
  </table>
</aside>
</body>
</html>