<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<div class="container">
  <h1 th:if="${hasError}" th:text="${error}"></h1>
</div>
<div class="container">
  <form class="form-signin mt-xl-5" method="post" action="/users/changeRole">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             name="username"
             th:value="(${user} != null ? ${user.getUsername()} : '')"
             required>

      <label>Role</label>
      <select name="role" class="form-control">
        <option th:if="${user} != null"
                th:selected="${user.getRole()}"
                th:each="role : ${roles}"
                th:value="${role}"
                th:text="${role}">
        </option>
      </select>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
  </form>
  <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
</div>

</body>
</html>