<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">

        table {
            margin-left: auto;
            margin-right: auto;
        }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>

<main>

    <h2>Choose balloon:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Balloon name</th>
            <th scope="col">Description</th>
            <th scope="col">Manufacturer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="balloon : ${balloons}" class="product">
            <td th:text="${balloon.getName()}"></td>
            <td th:text="${balloon.getDescription()}"></td>
            <td th:text="${balloon.getManufacturer() != null}
                            ? ${balloon.getManufacturer().getName()} : 'No Manufacturer'"></td>

            <td class="text-right">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <form th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}"
                          th:method="DELETE">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                    </form>
                </th:block>
                <a th:href="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}"
                   class="btn btn-sm btn-info edit-product"
                   sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class="fa fa-trash">Edit</i>
                </a>
                <form th:action="@{'/shopping-cart/add-product/{id}' (id=${balloon.getId()})}"
                      th:method="POST">
                    <input id="dateTime" name="dateTime" type="datetime-local"/>
                    <button type="submit"
                            class="btn btn-sm btn-primary cart-product">
                        <i class="fa fa-trash">Add product to cart</i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
        <a href="/balloons/add-form" class="btn btn-block btn-dark add-product-btn">
            Add new product
        </a>
    </div>
</main>
</body>
</html>