<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">

        table {
            margin-left: auto;
            margin-right: auto;
        }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>

    <h2>Choose Manufacturer:</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Manufacturer name</th>
            <th scope="col">Country</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text="${manufacturer.getName()}"></td>
            <td th:text="${manufacturer.getCountry()}"></td>
            <td th:text="${manufacturer.getAddress()}"></td>

            <td class="text-right">
                <form th:action="@{'/manufacturers/delete/{id}' (id=${manufacturer.getId()})}"
                      th:method="DELETE">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <a th:href="@{'/manufacturers/edit-form/{id}' (id=${manufacturer.getId()})}"
                   class="btn btn-sm btn-info edit-product">
                    <i class="fa fa-trash">Edit</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-sm-12 col-md-12">
        <a href="/manufacturers/add-form" class="btn btn-block btn-dark add-product-btn">
            Add new Manufacturer
        </a>
    </div>
</main>
</body>
</html>