<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>

    <h2>Choose balloon color:</h2>

    <a href="/selectBalloonSize.html">Submit</a>

    <form th:action="@{/balloonList}" th:method="POST">
        <ul>
            <li th:each="balloon: ${balloons}" style="list-style-type: none;">
                <input type="radio" name="color" th:value="${balloon.name}" th:text="${balloon.name}">
            </li>
        </ul>
        <input type='submit'  value='Submit'/>
    </form>

</main>
</body>
</html>