<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Balloon Order List page </title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Ballon List</h1>
</header>
<main>


        <ul>
            <li th:each="order: ${orders}" style="list-style-type: none;">
                <div>
                    <th:block th:text="${order}"></th:block>
                </div>
            </li>
        </ul>

</main>
</body>
</html>