<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
  <h1 th:if="${hasError}" th:text="${error}"></h1>
</div>
<div class="container">
  <form class="form-signin mt-xl-5" method="post" action="/register">
    <h2 class="form-signin-heading">Register</h2>
    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
             autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"
             required="">
    </p>
    <p>
      <label for="repeatedPassword" class="sr-only">Repeat Password</label>
      <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
             placeholder="Repeat Password" required="">
    </p>
    <p>
      <label for="name" class="sr-only">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
    </p>
    <p>
      <label for="surname" class="sr-only">Surname</label>
      <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
             autofocus="">
    </p>
    <p>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="role" type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN">
      <label class="form-check-label" for="ROLE_ADMIN">ROLE_ADMIN</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" name="role"  type="radio" id="ROLE_USER" value="ROLE_USER">
      <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
    </div>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
  <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
</div>

</body>
</html>