<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${users.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" class="cart-item">
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getPassword()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getSurname()}"></td>
                        <td th:text="${user.getDateOfBirth()}"></td>
                        <td th:text="${user.getRole()}"></td>
                        <td class="text-right">
                            <form th:action="@{'/users/delete/{username}' (username=${user.getUsername()})}"
                                  th:method="DELETE">
                                <button type="submit"
                                        class="btn btn-sm btn-danger delete-product">
                                    <i class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</body>
</html>